<div class="d-flex flex-column">
    <h1 *ngIf="pokemon.name === 'loading'" class="text-center">Un pokemon sauvage apparaît !</h1>
    <h1 *ngIf="pokemon.name !== 'loading'" class="text-center">Vous avez attrapé ce {{getPrettyName()}} sauvage !</h1>
    <img src="{{pokemon.imagePath}}" class="w-100 mt-5 discovered" />

    <button class="btn btn-success fixed-bottom mb-2" (click)="back()">Retour</button>
</div>