.discovered {
    animation: gelatine 0.8s infinite;
}

@keyframes gelatine {
    from,
    to {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(0.98, 1.02);
    }
    50% {
        transform: scale(1.04, 0.95);
    }
    75% {
        transform: scale(0.95, 1.05);
    }
}