<div class="d-flex justify-content-center bg-transparent">
    <div class="card" style="margin-top: 25vh;">
        <img src="https://i.ibb.co/CPpZT0X/image-2022-08-09-223232283.png" class="card-img-top" alt="pokemons">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title">Inscription !</h5>
            <p class="card-text mt-3">Choisir un nom de plus de 5 lettres pour la suite du jeu !</p>
            <input type="text" name="username" id="username" class="form-control mt-3" [(ngModel)]="username" />
            <button class="btn btn-success mt-3" (click)="register()" [disabled]="username.length < 5">C'est parti !</button>
        </div>
    </div>
</div>