<h1 class="text-center">Pokemons {{numberPokemonDiscovered()}}/{{pokemons.length}}</h1>
<div>
    <div *ngFor="let pokemon of pokemons">
        <img *ngIf="pokemon.discovered" src="{{pokemon.imagePath}}" class="w-100 mt-3" />
        <img *ngIf="!pokemon.discovered" src="{{unknown}}" class="w-100 mt-3 opacity-25" />
    </div>
</div>